@font-face
{
font-family: 'AvantGardeGothicCTT';
font-weight: normal;
font-style: normal;

src: url('../fonts/1.eot');
src: url('../fonts/HeliosCompressedC.eot?#iefix') format('embedded-opentype'),
url('../fonts/1.woff') format('woff'),
url('../fonts/1.ttf') format('truetype');
}

@font-face {
  font-family: "AvantGardeGothicC-Demi";
  src: url("../fonts/11.eot"); /* IE9 Compat Modes */
  src: url("../fonts/1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/11.woff") format("woff"), /* Modern Browsers */
    url("../fonts/1.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.hidden{
opacity:0;
}
.visible{
opacity:100%;
}
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.first {
	background: black;
	width: 100%;
	height: 99vh;
	position: relative;
}
body{
	overflow: scroll;
  scroll-behavior: smooth;
}
header{
	display: flex;
	justify-content: flex-end;
	background: black;
}
a{
	font-family: "AvantGardeGothicC-Demi";
	font-size: 2vw;
	color: white;
	text-decoration: none;
	padding-top: 3vw;
	padding-right: 7vw;
}
.logo{
	width: 50%;
	position: absolute;
	text-align: center;
	padding-top: 13vw;
	z-index: 3;
	margin-left: 25vw;
}
.pic1 {
	width: 26%;
	position: absolute;
	margin-top: -2vw;
	margin-left: 3vw;
	animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
.pic2 {
	width: 15%;
	position: absolute;
	margin-top: -3vw;
	margin-left: 35vw;
	animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
.pic3 {
	width: 10%;
	position: absolute;
	margin-top: -5vw;
	margin-left: 60vw;
	animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
.pic4 {
	width: 18%;
	position: absolute;
	margin-top: 10vw;
	margin-left: 71vw;
	animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
.pic5 {
	width: 12%;
	position: absolute;
	margin-top: 19vw;
	margin-left: 55vw;
	animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}
.pic6 {
	width: 17%;
	position: absolute;
	margin-top: 18vw;
	margin-left: 22vw;
	animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
/* @keyframes blink {
  50% {
    opacity: 0;
  }
} */
.h1 {
	font-family: 'AvantGardeGothicCTT';
	font-weight: 900;
	font-size: 6vw;
	color: white;
	padding-left: 34vw;
	padding-top: 34vw;
	position: absolute;
}
.p1{
	font-family: "Open Sans", serif;
	font-size: 1.5vw;
	color: white;
	width: 25vw;
	padding-left: 66vw;
	padding-top: 41.5vw;
	position: absolute;
	line-height: 2vw;
	text-align: right;
}
.second {
	position: absolute;
	display:table;
  width: 100%;
  height: 100%;
}
.box {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
  line-height: 13em;
}
.box1 {
  background: white;
}
.box2 {
  background: black;
}
.h2 {
	font-family: "AvantGardeGothicCTT";
	font-weight: 900;
	font-size: 6vw;
	color: black;
	position: absolute;
	width: 40vw;
	line-height: 6vw;
	text-align: left;
	margin-top: -25vw;
	margin-left: 7vw;
}
.p2{
	font-family: "Open Sans";
	font-size: 1.5vw;
	color: black;
	width: 25vw;
	position: absolute;
	line-height: 2.2vw;
	text-align: left;
	margin-left: 7vw;
	margin-top: -10vw;
}
.square{
	width: 20vw;
	height: 5vw;
	background-color: white;
	border: 0.3vw solid black;
	position: absolute;
	margin-left: 7vw;
	margin-top: 17vw;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.buttom1{
	font-family:"Open Sans";
	font-size: 2vw;
	position: absolute;
	margin-left: -16vw;
	padding-top: 12.7vw;
  cursor: pointer;
	color: black;
}

.h3 {
	font-family: "AvantGardeGothicCTT";
	font-weight: 900;
	font-size: 6vw;
	color: white;
	position: absolute;
	width: 40vw;
	line-height: 6vw;
	text-align: left;
	margin-top: -25vw;
	margin-left: 8vw;
}
.p3{
	font-family: "Open Sans";
	font-size: 1.5vw;
	color: white;
	width: 30vw;
	position: absolute;
	line-height: 2.2vw;
	text-align: left;
	margin-left: 9vw;
	margin-top: -10vw;
}
.square2{
	width: 20vw;
	height: 5vw;
	background-color: black;
	border: 0.3vw solid white;
	position: absolute;
	margin-left: 9vw;
	margin-top: 17vw;
}
.buttom2{
	font-family:"Open Sans";
	font-size: 2vw;
	position: absolute;
	margin-left: -14vw;
	padding-top: 12.7vw;
  cursor: pointer;
	color: white;
}
.third{
	background: black;
	width: 100%;
	height: 100vh;
	position: relative;
	margin-top: 56%;
}
.pic11{
	width: 28vw;
	position: absolute;
	padding-top: 7vw;
	padding-left: 8vw;
}
.pic10{
	width: 28vw;
	position: absolute;
	padding-top: 13vw;
	padding-left: 15vw;
}
.h4{
	font-family: "AvantGardeGothicCTT";
	font-weight: 900;
	font-size: 6vw;
	color: white;
	position: absolute;
	width: 40vw;
	line-height: 7vw;
	text-align: right;
	padding-top: 5vw;
	padding-left: 50vw;
}
.p4{
	font-family: "Open Sans";
	font-size: 1.5vw;
	color: white;
	width: 25vw;
	position: absolute;
	line-height: 2.1vw;
	text-align: right;
	padding-top: 30vw;
	padding-left: 65vw;
}
.square3{
	width: 20vw;
	height: 5vw;
	background-color: black;
	border: 0.3vw solid white;
	position: absolute;
	margin-left: 69.7vw;
	margin-top: 41vw;
}
.buttom3{
	font-family:"Open Sans";
	font-size: 2vw;
	position: absolute;
	padding-left: 72vw;
	padding-top: 42.7vw;
  cursor: pointer;
	color: white;
}
.forth{
	background: white;
	width: 100%;
	height: 100vh;
	position: relative;
}
.pic13{
	width: 28vw;
	position: absolute;
	margin-top: 6vw;
	padding-left: 64vw;
}
.pic12{
	width: 28vw;
	position: absolute;
	padding-top: 12vw;
	padding-left: 53vw;
}
.h5{
	font-family: "AvantGardeGothicCTT";
	font-weight: 900;
	font-size: 6vw;
	color: black;
	position: absolute;
	width: 40vw;
	line-height: 7vw;
	text-align: left;
	padding-top: 4.5vw;
	padding-left: 7vw;
}
.p5{
	font-family: "Open Sans";
	font-size: 1.5vw;
	color: black;
	width: 25vw;
	position: absolute;
	line-height: 2.1vw;
	text-align: left;
	padding-top: 28vw;
	padding-left: 7vw;

}
.square4{
	width: 20vw;
	height: 5vw;
	background-color: white;
	border: 0.3vw solid black;
	position: absolute;
	margin-left: 7vw;
	margin-top: 40vw;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.buttom4{
	font-family:"Open Sans";
	font-size: 2vw;
	position: absolute;
	margin-left: 9vw;
	padding-top: 41.7vw;
  cursor: pointer;
	color: black;
}
.fifth{
	background: black;
	width: 100%;
	height: 100vh;
	position: relative;
}
.pic14{
	width: 28vw;
	position: absolute;
	padding-top: 7vw;
	padding-left: 8vw;
}
.pic15{
	width: 28vw;
	position: absolute;
	padding-top: 13vw;
	padding-left: 15vw;
}
.h6{
	font-family: "AvantGardeGothicCTT";
	font-weight: 900;
	font-size: 6vw;
	color: white;
	position: absolute;
	width: 40vw;
	line-height: 7vw;
	text-align: right;
	padding-top: 5vw;
	padding-left: 50vw;
}
.p6{
	font-family: "Open Sans";
	font-size: 1.5vw;
	color: white;
	width: 25vw;
	position: absolute;
	line-height: 2.1vw;
	text-align: right;
	padding-top: 30vw;
	padding-left: 65vw;
}
.six{
	background: white;
	width: 100%;
	height: 100vh;
	position: relative;

}
.pic16{
	width: 28vw;
	position: absolute;
	margin-top: 6vw;
	padding-left: 64vw;
}
.pic17{
	width: 28vw;
	position: absolute;
	padding-top: 12vw;
	padding-left: 53vw;
}
.h7{
	font-family: "AvantGardeGothicCTT";
	font-weight: 900;
	font-size: 6vw;
	color: black;
	position: absolute;
	width: 40vw;
	line-height: 7vw;
	text-align: left;
	padding-top: 4.5vw;
	padding-left: 7vw;
}
.p7{
	font-family: "Open Sans";
	font-size: 1.5vw;
	color: black;
	width: 25vw;
	position: absolute;
	line-height: 2.1vw;
	text-align: left;
	padding-top: 23vw;
	padding-left: 7vw;
}
.square5{
	width: 20vw;
	height: 5vw;
	background-color: white;
	border: 0.3vw solid black;
	position: absolute;
	margin-left: 7vw;
	margin-top: 36vw;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}
.buttom5{
	font-family:"Open Sans";
	font-size: 2vw;
	position: absolute;
	margin-left: 9vw;
	padding-top: 37.7vw;
  cursor: pointer;
	color: black;
}
footer{
	background: black;
	width: 100%;
	height: 20vw;
	position: relative;
}
.contact{
	font-family:"Open Sans";
	font-size: 1.5vw;
	color: white;
	text-decoration: none;
	padding-top: 3vw;
	margin-left: 6vw;
}
.adress{
	font-family: "Open Sans";
	font-size: 1.3vw;
	color: white;
	width: 17vw;
	position: absolute;
	line-height: 1.9vw;
	text-align: left;
	margin-top: 1vw;
	margin-left: 6vw;
}
.curators{
	position: absolute;
	font-family:"Open Sans";
	font-size: 1.5vw;
	color: white;
	text-decoration: none;
	margin-top: -1.5vw;
	margin-left: 45vw;
}
.name{
	font-family:"Open Sans";
	font-size: 1.3vw;
	color: white;
	width: 15vw;
	text-decoration: none;
	line-height: 1.9vw;
	padding-top: 1vw;
	margin-left: 45vw;
}
.if{
	position: absolute;
	font-family:"Open Sans";
	font-size: 1.5vw;
	color: white;
	text-align: right;
	margin-top: -6.7vw;
	margin-left: 68vw;
	width: 25vw;
  line-height: 2vw
}
.hse{
	font-family:"Open Sans";
	font-size: 1.3vw;
	color: white;
	text-decoration: none;
	line-height: 1.9vw;
	padding-top: 7vw;
	margin-left: 6vw;
}
.pic18{
  width: 3vw;
  padding-left: 90vw;
  margin-top: -26vw;
  padding-bottom: 2vw;

}
.pic19{
  width: 4.5vw;
  padding-left: 83vw;
  margin-top: -26vw;
  padding-bottom: 3.4vw;

}
@media (max-width: 320px){
  .first{
    height: 35vh;
  }
  .logo{
    width: 70%;
    margin-left: 15vw;
    padding-top: 18vw;
  }
  .pic1{
    margin-top: 3vw;
    margin-left: 1vw;
  }
  .pic2{
    margin-top: 2vw;
  }
  .pic4{
    margin-top: 17vw;
    margin-left: 80vw;
  }
  .pic5{
    margin-top: 25vw;
    margin-left: 55vw;
  }
  .h1{
    padding-left: 11vw;
    padding-top: 48vw;
    font-size: 8vw;
  }
  .p1{
    padding-left: 30vw;
    padding-top: 57.5vw;
    text-align: center;
    font-size: 3vw;
    width: 40vw;
    line-height: 3.8vw;
  }
  .second{
    height: 25vh;
  }
  .third{
    height: 70vh;
  }
  .pic11{
    padding-left: 10vw;
    width: 60vw;
    padding-top: 8vw;
  }
  .pic10{
    padding-left: 30vw;
    width: 60vw;
    padding-top: 18vw;
  }
  .h4{
    padding-top: 110vw;
    width: 80vw;
    padding-left: 10vw;
    text-align: right;
    font-size: 7.5vw;
  }
  .p4{
    padding-top: 128vw;
    font-size: 3.5vw;
    line-height: 4.4vw;
    width: 60vw;
    text-align: right;
    padding-left: 30vw;
  }
  .square3{
    width: 28vw;
  	height: 7vw;
  	border: 0.3vw solid white;
  	position: absolute;
  	margin-left: 61.6vw;
  	margin-top: 144.5vw;
  }
  .buttom3{
  	font-size: 3vw;
  	position: absolute;
  	padding-left: 64vw;
  	padding-top: 146.5vw;
  }
  .forth{
    height: 73vh;
  }
  .pic13{
    padding-left: 30vw;
    width: 60vw;
    padding-top: 4vw;
  }
  .pic12{
    padding-left: 10vw;
    width: 60vw;
    padding-top: 18vw;
  }
  .h5{
    padding-top: 110vw;
    width: 80vw;
    padding-left: 10vw;
    text-align: left;
    font-size: 7.5vw;
  }
  .p5{
    padding-top: 128vw;
    font-size: 3.5vw;
    line-height: 4.4vw;
    width: 60vw;
    text-align: left;
    padding-left: 10vw;
  }
  .square4{
    width: 28vw;
  	height: 7vw;
  	position: absolute;
  	margin-left: 10vw;
  	margin-top: 150vw;
  }
  .buttom4{
  	font-size: 3vw;
  	position: absolute;
  	padding-left: 3.5vw;
  	padding-top: 152vw;
  }
  .fifth{
    height: 70vh;
  }
  .pic14{
    padding-left: 10vw;
    width: 60vw;
    padding-top: 8vw;
  }
  .pic15{
    padding-left: 30vw;
    width: 60vw;
    padding-top: 18vw;
  }
  .h6{
    padding-top: 110vw;
    width: 80vw;
    padding-left: 10vw;
    text-align: right;
    font-size: 7.5vw;
  }
  .p6{
    padding-top: 128vw;
    font-size: 3.5vw;
    line-height: 4.4vw;
    width: 60vw;
    text-align: right;
    padding-left: 30vw;
  }
  .square3{
    width: 28vw;
  	height: 7vw;
  	border: 0.3vw solid white;
  	position: absolute;
  	margin-left: 61.6vw;
  	margin-top: 144.5vw;
  }
  .buttom3{
  	font-size: 3vw;
  	position: absolute;
  	padding-left: 64vw;
  	padding-top: 146.5vw;
  }
  .six{
    height: 73vh;
  }
  .pic16{
    padding-left: 30vw;
    width: 60vw;
    padding-top: 4vw;
  }
  .pic17{
    padding-left: 10vw;
    width: 60vw;
    padding-top: 18vw;
  }
  .h7{
    padding-top: 110vw;
    width: 80vw;
    padding-left: 10vw;
    text-align: left;
    font-size: 7.5vw;

  }
  .p7{
    padding-top: 128vw;
    font-size: 3.5vw;
    line-height: 4.4vw;
    width: 60vw;
    text-align: left;
    padding-left: 10vw;
  }
  .square5{
    width: 28vw;
  	height: 7vw;
  	position: absolute;
  	margin-left: 10vw;
  	margin-top: 150vw;
  }
  .buttom5{
  	font-size: 3vw;
  	position: absolute;
  	padding-left: 3.5vw;
  	padding-top: 152vw;
  }
  header{
    justify-content: space-evenly;
  }
  header a{
    font-size: 3vw;
    padding-left: 7vw;
  }
  .buttom1{
    padding-top: 1vw;
    margin-top: -13.5vw;
  }
  .buttom2{
    padding-top: 1vw;
    margin-top: -13.5vw;
  }
}
