@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@font-face
{
font-family: 'AvantGardeGothicCTT';
font-weight: normal;
font-style: normal;

src: url('../fonts/1.eot');
src: url('../fonts/HeliosCompressedC.eot?#iefix') format('embedded-opentype'),
url('../fonts/1.woff') format('woff'),
url('../fonts/1.ttf') format('truetype');
}
